<!doctype html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>
<main class="container">
    <div th:replace="~{base :: title(value='Login')}"></div>
    <div class="card">
        <form th:action="@{/login}" class="row g-3 card-body"method="post">

            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>

            <div class="col-12 mt-4">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="col-12 mt-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </form>
    </div>
</main>
</body>
</html>